<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
  <p style="margin-bottom: 25px;">Iaorana,</p>
  <p style="margin-bottom: 25px;">Félicitation <%= lastName %>
      <%= firstName %>, votre compte a bien été crédité de <%= nbplongee %>
          plongées. Les crédits plongées prendrons effet le <%= dateeffect %> et seront valables 1 an.
            <p style="margin-bottom: 5px;">Rappel de votre code client : <strong>
                <%= idClient %>
              </strong></p>
            <p style="margin-bottom: 25px;">Votre lien de connexion pour consulter vos crédits et utiliser votre pass
              est :
              <a href="https://temoanadiving-pass.com/">https://temoanadiving-pass.com/</a>
            </p>

            <p style="margin-bottom: 5px;">Au plaisir de vous retrouver prochainement sur nos nombreux centres de
              plongée
              pour une
              expérience inoubliable !</p>
            <p style="margin-bottom: 5px;">TE MOANA DIVING PASS</p>
            <p style="margin-bottom: 5px;"><a href="https://www.temoanadiving.com/">https://www.temoanadiving.com/</a>
            </p>