<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
  <p style="margin-bottom: 25px;">Bonjour,</p>
  <p style="margin-bottom: 25px;">Félicitation pour votre vente !
  </p>
  <p style="margin-bottom: 25px;">Votre club <%= clubname %> a vendu un pass de <%= nbplongee %> plongée <br> à <%=
          firstName %>
          <%= lastName %> le <%= date %> <br>
              pour une date d’effet le <%= dateeffect %>.</p>

  <p style="margin-bottom: 5px;">Cette vente a bien été enregistré dans l’application client et club.</p>
  <p style="margin-bottom: 5px;">TE MOANA DIVING PASS</p>
  <p style="margin-bottom: 5px;"><a href="https://www.temoanadiving.com/">https://www.temoanadiving.com/</a>
  </p>